@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --bs-primary: #3b6abc;
  --primary-color: #3b6abc;
  --secondary-color: #444b8c;
  --text-secondary: #fec445;
  --card-shadow: 5px 5px 4px rgba(0, 0, 0, 0.233);
}

/* utils */

.text-primary-main {
  background: #3b6abc !important;
}

.border-main-secondary {
  border-bottom: 2px solid var(--text-secondary);
}
body {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input::selection {
  background: none !important;
}
/* For Chrome, Safari, Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
}

input:-moz-autofill {
  box-shadow: 0 0 0 30px transparent inset !important;
  -moz-text-fill-color: white !important;
}

input:-ms-autofill {
  box-shadow: 0 0 0 30px transparent inset !important;
  -ms-text-fill-color: white !important;
}

/* utils */
.text-primary {
  color: var(--primary-color) !important;
}
.bg-primary-main {
  background: var(--primary-color);
}
.text-yellow {
  color: var(--text-secondary) !important;
}
.shadow-main {
  box-shadow: var(--card-shadow) !important;
}
/* register and login */
.signup-btn {
  background: var(--primary-color);
  border: none !important;
}
.signup-btn:hover {
  background: var(--primary-color);
  filter: brightness(0.9);
}
.signup-input::placeholder {
  color: white !important;
}
.bg-signup {
  background-color: #0e0034;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.input-group {
  border: 2px solid #fff;
  border-radius: 6px;
}
.login-welcome-text {
  font-size: 64px;
}
.text-blue {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
  filter: brightness(1.1);
  text-decoration: underline !important;
}
.form-register-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cursor-pointer {
  cursor: pointer;
}

/* dashboard */
.dashboard-nav {
  margin: 0;
  background: var(--secondary-color);
  box-shadow: 4px 4px 6.9px 4px #001a78;
  border-radius: 0 10px 10px 0;
  width: 95px;
}

.dashboard-links {
  width: 30px !important;
  height: 30px !important;
}
.active-link {
  color: var(--text-secondary);
}
.dashboard-cards {
  height: 200px;
  background: linear-gradient(to right, #b9c0ff, white);
  border: 1px solid #ccc5c598;
  box-shadow: var(--card-shadow);
}
.dashboard-lower-card {
  height: 18rem;
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}

.dashboard-input {
  border-radius: 4rem;
  padding: 4px;
  box-shadow: var(--card-shadow);
}

.dashboard-pages {
  margin: 0 0 0 7rem;
}

input {
  outline: none !important; /* Remove focus outline */
  box-shadow: none !important; /* Remove the focus border shadow */
}
select {
  outline: none !important; /* Remove focus outline */
  box-shadow: none !important; /* Remove the focus border shadow */
  box-shadow: var(--card-shadow);
}

.not-found-page {
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.circle-div {
  background-color: var(--text-secondary);
  border-radius: 50%;
  position: absolute;
  top: -25%;
  right: 25%;
  width: 400px;
  height: 400px;
}

/* navbar */
.navbar {
  /* background: var(--primary-color); */
}
.bg-primary-main {
  background: var(--primary-color);
}

@media (max-width: 768px) {
  .dashboard-nav {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    margin: 0;
  }
  .dashboard-pages {
    margin: 0;
  }
}
/*  */
.profile-card {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: var(--card-shadow);
}

.job-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--card-shadow);
}

.apply-btn {
  background-color: #ffcc66;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.apply-btn:hover {
  background-color: #ffb84d;
}

.rating-stars {
  color: #ffcc00;
}

.f-15 {
  font-size: 15px;
}

.btn-primary {
  background: var(--primary-color) !important;
}

.careers .nav-link.active {
  background: var(--primary-color) !important;
  color: #fff !important;
}
.careers .nav-link {
  color: var(--primary-color) !important;
}

.jobs-table .card {
  width: 50px;
  margin: auto;
}

.jobs-table td {
  vertical-align: middle;
}

.scroll-hide::-webkit-scrollbar {
  display: none !important;
}

.status-list-item:hover {
  background: rgba(0, 0, 0, 0.089) !important ;
}


.careers-job-modal p{
  margin-bottom: 0 !important;
}


/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.1); */
  z-index: 10;
  border-radius: 5px;
}

.loader-box{
  height: fit-content;
}

.logo{
  width: 55px;
  height: 55px;
}

tr{
  vertical-align: middle;
}

.page-item.active .page-link{
  background-color: var(--secondary-color) !important;
}

.center-table tr,.center-table td,
.center-table th{
  text-align: center !important;
  width: 100px !important;
}

.table-data{
  height: 300px;
  overflow: auto;
}