@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --primary-color: #3b6abc;
}

body {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.signup-btn {
  background: var(--primary-color);
  border: none !important;
}
.signup-btn:hover {
  background: var(--primary-color);
  filter: brightness(0.9);
}
.signup-input::placeholder {
  color: white !important;
}
.bg-signup {
  background-color: #0e0034;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.input-group {
  border: 2px solid #fff;
  border-radius: 10px;
}
.login-welcome-text {
  font-size: 64px;
}
.text-blue {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
  filter: brightness(1.1);
  text-decoration: underline !important;
}
