@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --primary-color: #3b6abc;
  --secondary-color: #444b8c;
  --text-secondary: #fec445;
  --card-shadow: 5px 5px 4px rgba(0, 0, 0, 0.233);
}

body {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* utils */
.text-primary {
  color: var(--primary-color) !important;
}
.text-yellow {
  color: var(--text-secondary);
}
/* register and login */
.signup-btn {
  background: var(--primary-color);
  border: none !important;
}
.signup-btn:hover {
  background: var(--primary-color);
  filter: brightness(0.9);
}
.signup-input::placeholder {
  color: white !important;
}
.bg-signup {
  background-color: #0e0034;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.input-group {
  border: 2px solid #fff;
  border-radius: 6px;
}
.login-welcome-text {
  font-size: 64px;
}
.text-blue {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
  filter: brightness(1.1);
  text-decoration: underline !important;
}
.form-register-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cursor-pointer {
  cursor: pointer;
}

/* dashboard */
.dashboard-nav {
  margin: 0;
  background: var(--secondary-color);
  box-shadow: 4px 4px 6.9px 4px #001a78;
  border-radius: 0 10px 10px 0;
  width: 95px;
}

.dashboard-links {
  width: 30px !important;
  height: 30px !important;
}
.active-link {
  color: var(--text-secondary);
}
.dashboard-cards {
  height: 200px;
  background: linear-gradient(to right, #b9c0ff, white);
  border: 1px solid #ccc5c598;
  box-shadow: var(--card-shadow);
}
.dashboard-lower-card {
  height: 18rem;
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}

@media (max-width: 768px) {
  .dashboard-nav {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
  }
}
